.count-item {
    background-color: @selected_bg_color;
    border-radius: 5px;
    color: @selected_fg_color;
    padding: 4px;
    border: none;
}

.count-item.urgent {
    background-color: red;
}

.count-item.non-urgent {
    background-color: grey;
}

.sidebar-item:selected,
.sidebar-header:selected {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}
